.MenuBar {
    position: relative;
    &-list {
        margin:0;
        list-style-type: none;
        background-color: #2D2E2E;
        color: white;
        width: 70px;
        height: 100%;
        position: fixed;
        text-align: center;
        padding: 0;
        &--li {
            &-logo {
                width: 50%;
            }
            &-link {
                text-decoration: none;
                color: white;
                padding: 15px 0;
                display:block;
                &.active {
                    background-color: #00a8ff;
                }
            }
            &-link:active {
                color: #00a8ff;
            }
        }
    }
    &-display {
        padding:15px 50px 15px 130px;
    }
}